<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<title>Confirmação</title>
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>
	
	<div class="container"></div>
		<h1>Evento adicionado com sucesso!</h1>
</body>

</html>